@import '../utils/main.utils.scss';

.contact-info-list {
    margin-top: 24px;
    @include flex(row, space-between, flex-start);
}

.contact-info-item {
    &:hover {
        .contact-info-img {
            bottom: 0px;
        }
    }
}

.contact-info-item a {
    cursor: pointer;
    &:hover {
        .contact-info-img {
            bottom: 10px;
        }
    }
}

.contact-info-item,
.contact-info-item a {
    @include flex(column, null, center);
    .contact-info-img {
        position: relative;
        bottom: 0;
        margin-bottom: 10px;
        transition: .3s;
    }
}