@import "../utils/main.utils.scss";

.section-contact-form {

}

#contact-form {
    @include flex(column, null, center);
    .input-group {
        width: 100%;
        @include flex(row, space-between, null);
        input, select {
            width: 430px;
            height: 50px;
            border-bottom: 1px solid #5395A8;
            background-color: transparent;
            @include font(15px, 400, 20px, #032539);
            &::placeholder {
                @include font(15px, 400, 20px, #032539A1);
            }
        }

    }
    .input-group-textarea {
        margin-top: 25px;
        @include flex(column, null, null);
        label {
            @include font(15px, 400, 20px, #032539);
        }
        textarea {
            margin-top: 10px;
            width: 100%;
            height: 100px;
            background-color: transparent;
            border-bottom: 1px solid #5395A8;
        }
    }
}