@import '../utils/main.utils.scss';
.copyright-content {
    height: 50px;
    background-color: $COLOR__BLUE;
    @include flex(row, null, center);
    .container {
        @include flex(row, center, center);
    }
}

.copyright-logo {
    svg {
        height: 30px;
    }
}

// .social-link-list {
//     @include flex(row, center, center);
//     .social-link-item {
//         margin: 0 15px;
//         a {
//             svg {
//                 width: 20px;
//                 height: 20px;
//                 path {
//                     color: #FA991C;
//                     transition: .3s;
//                 }
//             }
//         }
//         &:hover {
//             a {
//                 svg {
                    
//                 }
//             }
//         }
//     }
// }