@import '../../utils/main.utils.scss';
.about-us {
    .container {
        @include flex(row, space-between, center);
    }
}

.about-us-img-border-wrap {
    position: relative;
    width: 360px;
    height: 360px;
    border: 1px solid $COLOR__DARK__BLUE;
    @include flex(row, center, center);
    .about-us-img {
        position: absolute;
        top: -30px;
        left: -30px;
        width: 100%;
        height: 100%;
        border: 1px solid $COLOR__ORANGE;
    }
    svg {
        margin: 0 30px 30px 0;
    }
}

.about-us-text-content {
    max-width: 510px;
    .about-us__subtitle {
        margin: 30px 0 40px;
    }
    .about-us__btn {
        color: $COLOR__ORANGE;
    }
}