section.section.about-us
    .container
        .about-us-img-border-wrap
            .about-us-img
            include ../../../img/about-us.svg
        .about-us-text-content
            h2.h2 Про нас
            p.subtitle.about-us__subtitle Ми - професійний сервісний центр, що спеціалізується на ремонті пральних, сушильних та миючих машин у Києві. Наша компанія існує на ринку вже понад півтора року і зарекомендувала себе як надійний та якісний сервіс, де клієнти отримують гарантію на один рік після ремонту.
            .about-us-img-border-wrap.mobile
                .about-us-img
                include ../../../img/about-us.svg
            a(href="about-us.html").btn.about-us__btn Детальніше