.container-xl
    .washer-brands-list
        .washer-brands-item
            include ../../../img/candy.svg
        .washer-brands-item
            include ../../../img/bosch.svg
        .washer-brands-item
            include ../../../img/electrolux.svg
        .washer-brands-item
            include ../../../img/indesit.svg
        .washer-brands-item
            include ../../../img/samsung.svg