@import '../utils/vars.scss';
@import '../utils/mixin.scss';
* {
    padding: 0;
    border: 0;
    margin: 0;
}

::-moz-selection {
    background-color: rgba(250, 153, 28, 0.478);
}

::selection {
    background-color: rgba(250, 153, 28, 0.478);
}

*,
:after,
:before {
    box-sizing: border-box;
}

:active,
:focus,
a:active,
a:focus {
    outline: 0;
}

aside,
footer,
header,
nav {
    display: block;
}

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    line-height: 1;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: $COLOR__PINK;
}

button,
input,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:hover,
a:visited {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.section {
    padding: 50px 10px;
}

.h2 {
    letter-spacing: 0.01em;
    @include font(40px, 400, 53px, $COLOR__DARK__BLUE);
}

.h3 {
    @include font(30px, 400, 120%, $COLOR__WHITE);
}

.h4 {
    letter-spacing: 0.015em;
    @include font(22px, 400, 130%, $COLOR__DARK__BLUE);
}

.subtitle {
    @include font(15px, 300, 20px, $COLOR__DARK__BLUE);
}

.container,
.container-xl {
    width: 100%;
    margin: 0 auto;
}

.container {
    max-width: 1000px;
}

.container-xl {
    max-width: 1190px;
}

.btn {
    display: inline-block;
    padding: 10px 40px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: 1px solid $COLOR__ORANGE;
    transition: color .3s;
    @include font(13px, 300, 157%, $COLOR__WHITE);
    &:before {
        content: '';
        position: absolute;
        top: -100%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;
        background-color: $COLOR__ORANGE;
        transition: .3s;
        z-index: -1;
    }
    &:hover {
        color: $COLOR__WHITE;
        &:before {
            top: 0;
        }
    }
}