block vars
    - var title = 'Головна';

doctype html
html(lang="uk")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap' rel='stylesheet')
        link(rel="stylesheet", href="./css/main.css")
        title #{title}
    body
        header.header
            block header
        main.main
            block main
        footer.footer
            include ./copyright.pug
            block footer
        button#open-mobile-menu.open-menu
            include ../../../img/icons/mobile-menu.svg
        script(src='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js')
        script(src='./js/main.js' type="module")