section.section.callback
        .container
            .callback-text-content
                h2.h2 Залишіть заявку на ремонт зараз
                p.subtitle.callback-subtitle Наш професійний сервісний центр надає якісний ремонт побутової техніки у Києві. Залишіть заявку на ремонт, і ми зв'яжемося з вами найближчим часом.
                a(href="./contacts.html").btn Залишити заявку
            .callbackk-img-border-wrapp
                .callbackk-img-border
                include ../../../img/order.svg