.copyright-content
            .container
                a(href='index.html').copyright-logo
                    include ../../../img/logo.svg
                ul.social-link-list
                    li.social-link-item
                        a(href="https://www.facebook.com/profile.php?id=100091394827824" target="_blank")
                            include ../../../img/icons/facebook.svg
                    li.social-link-item
                        a(href="https://www.instagram.com/profservise.kyiv/?igshid=YmMyMTA2M2Y%3D" target="_blank")
                            include ../../../img/icons/instagram.svg