include ../utils/mixin.pug
section.section.prices
    .container-xl
        ul.prices-list
            li.prices-item
                +pricesTitle('Ремонт пральних машин')
                ul.services-prices-list
                    +servicesPricesItem({
                        sname: 'Виклик майстра додому',
                        sprice: '200грн'
                    })
                    +servicesPricesItem({
                        sname: 'Виклик майстра додому',
                        sprice: '200грн'
                    })
                    +servicesPricesItem({
                        sname: 'Виклик майстра додому',
                        sprice: '200грн'
                    })
                    +servicesPricesItem({
                        sname: 'Виклик майстра додому',
                        sprice: '200грн'
                    })
                    +servicesPricesItem({
                        sname: 'Виклик майстра додому',
                        sprice: '200грн'
                    })
                    +servicesPricesItem({
                        sname: 'Виклик майстра додому',
                        sprice: '200грн'
                    })
            li.prices-item
                +pricesTitle('Ремонт сушильних машин')
                ul.services-prices-list
                    +servicesPricesItem({
                        sname: 'Виклик майстра додому',
                        sprice: '200грн'
                    })
                    +servicesPricesItem({
                        sname: 'Виклик майстра додому',
                        sprice: '200грн'
                    })
                    +servicesPricesItem({
                        sname: 'Виклик майстра додому',
                        sprice: '200грн'
                    })
                    +servicesPricesItem({
                        sname: 'Виклик майстра додому',
                        sprice: '200грн'
                    })
                    +servicesPricesItem({
                        sname: 'Виклик майстра додому',
                        sprice: '200грн'
                    })
                    +servicesPricesItem({
                        sname: 'Виклик майстра додому',
                        sprice: '200грн'
                    })
                    +servicesPricesItem({
                        sname: 'Виклик майстра додому',
                        sprice: '200грн'
                    })
                    +servicesPricesItem({
                        sname: 'Виклик майстра додому',
                        sprice: '200грн'
                    })
                    +servicesPricesItem({
                        sname: 'Виклик майстра додому',
                        sprice: '200грн'
                    })
            li.prices-item
                +pricesTitle('Ремонт посудомийних машин')
                ul.services-prices-list
                    +servicesPricesItem({
                        sname: 'Виклик майстра додому',
                        sprice: '200грн'
                    })
                    +servicesPricesItem({
                        sname: 'Виклик майстра додому',
                        sprice: '200грн'
                    })
                    +servicesPricesItem({
                        sname: 'Виклик майстра додому',
                        sprice: '200грн'
                    })
                    +servicesPricesItem({
                        sname: 'Виклик майстра додому',
                        sprice: '200грн'
                    })