extends ./html/modules/base/default-page.pug
include ./html/utils/mixin
block vars
    - title = 'Про нас';
    -h1 = 'Про нас';
block main
    +textContentinBorder({
        text: `ProfService - ваш надійний сервіс з ремонту сушильних, пральних та посудомийних машин у Києві та області.`,
        text2: 'Ми пишаємось своїми високими стандартами якості та пропонуємо лише якісний ремонт, який відповідає вашим очікуванням. Наша команда досвідчених майстрів має великий досвід роботи та здатна вирішити найскладніші проблеми з вашою побутовою технікою. Ми розуміємо, що ваша машина – важлива частина вашого повсякденного життя, тому ми робимо все можливе, щоб відновити її працездатність максимально швидко та якісно.',
        text3: 'ProfService - це як якість роботи, а й гарантія нашої роботи. Ми надаємо гарантію на рік на всі виконані нами ремонтні роботи. Це дозволяє вам бути впевненими у надійності нашого сервісу та дає вам додатковий захист у разі будь-яких проблем.',
        text4: 'Ми розуміємо, що ціна також є важливим фактором у виборі сервісу ремонту. У ProfService ми прагнемо запропонувати конкурентоспроможні ціни, які є нижчими, ніж у наших конкурентів. Ми віримо, що якісний ремонт має бути доступним для всіх, і намагаємось врахувати ваші фінансові можливості.',
        text5: "Наша команда працює швидко та якісно, ​​щоб вирішити всі проблеми з вашою побутовою технікою. Ми розуміємо, що поломка машини може створити незручності і завадити вашому повсякденному життю. Тому ми докладаємо всіх зусиль, щоб оперативно розпочати ремонт і повернути вам працюючу машину в найкоротші терміни.",
        text6: "Вибирайте ProfService - надійний сервіс ремонту сушильних, пральних та посудомийних машин у Києві та області. Ми гарантуємо якість, гарантію, досвід, конкурентоспроможні ціни та оперативне вирішення всіх проблем."
    })
block footer