extends ./html/modules/base/default-page.pug
include ./html/utils/mixin
block vars
    - title = 'Ремонт посудомийних машин';
    -h1 = 'Ремонт посудомийних машин';
block main
    +textContentinBorder({
        text: `Наш сервіс ProfService пропонує якісний ремонт посудомийних машин у всіх районах Києва та області. Ми розуміємо, що поломка посудомийної машини може стати справжньою проблемою, тому наші досвідчені майстри готові швидко та ефективно відновити працездатність вашої техніки.`,
        text2: 'Опыт - наше главное преимущество. Мастера нашего сервиса имеют обширный опыт работы в сфере ремонта посудомоечных машин. Они владеют современными технологиями и методами ремонта, что позволяет нам оперативно находить и устранять неисправности.',
        text3: 'Мы гарантируем качество нашей работы и предоставляем гарантию на ремонт посудомоечных машин в течение года. Вам не нужно беспокоиться о возможных поломках после ремонта - мы уверены в надежности нашей работы и готовы отвечать за качество предоставляемых услуг.',
        text4: 'Одно из наших главных преимуществ - конкурентные цены. Мы понимаем, что ремонт техники может быть дорогим, поэтому мы стараемся предложить нашим клиентам оптимальные цены, которые ниже, чем у конкурентов. Мы ценим доверие наших клиентов и стремимся предоставить им высокое качество сервиса по доступной цене.',
        text5: "Если у вас возникла неисправность с посудомоечной машиной, не откладывайте ремонт в долгий ящик. Обратитесь в сервис ProfDervice, и наши опытные мастера быстро и качественно исправят поломку. Мы гарантируем профессиональный подход, надежность и доступные цены.",
        text6: "Сделайте правильный выбор - выберите ProfDervice для ремонта посудомоечных машин в Киеве и области!"
    })
    section.section.faq
        .container
            h2.h2 Поширені запитання
        .container.faq-list-wrap
            ul.faq-list
                +faq-item({
                    question: 'Чому моя посудомийна машина не вмикається?',
                    answer: 'Можливо, проблема з електроживленням чи несправність в електронній платі.'
                })
                +faq-item({
                    question: 'Чому вода не зливається з посудомийної машини?',
                    answer: 'Причиною може бути засмічення системи зливу або несправність зливного насоса.'
                })
                +faq-item({
                    question: "Чому посуд після циклу миття залишається брудним?",
                    answer: ' Возможно, причина в плохой работе фильтров или неисправности форсунок распыления воды.'
                })
                +faq-item({
                    question: 'Чому посудомийна машина видає шум під час роботи?',
                    answer: 'Шуми можуть бути викликані несправністю двигуна, проблемою з підшипниками або незбалансованістю машини.'
                })
            ul.faq-list
                +faq-item({
                    question: 'Що робити, якщо посудомийна машина протікає?',
                    answer: 'Перевірте рівень води та стан ущільнювальних гумок. Якщо протікання продовжується, можливо, потрібна заміна ущільнень або ремонт клапана.'
                })
                +faq-item({
                    question: 'Чому програма миття не запускається?',
                    answer: 'Причиною може бути несправність кнопки керування чи електронної плати..'
                })
                +faq-item({
                    question: 'Як видалити неприємний запах із посудомийної машини?',
                    answer: 'Рекомендується провести цикл миття з додаванням оцту або спеціальних очисників для посудомийних машин.'
                })
                +faq-item({
                    question: 'Чому на посуді після миття залишаються плями та розлучення?',
                    answer: "Проблема може бути пов'язана з неправильним використанням миючого засобу або неправильним завантаженням посуду."
                })
    include ./html/modules/base/callback.pug
block footer