extends ./html/modules/base/default-page.pug
include ./html/utils/mixin
block vars
    - title = 'Ремонт пральних машин';
    -h1 = 'Ремонт пральних машин';
block main
    +textContentinBorder({
        text: "Ми надаємо професійні послуги з ремонту та обслуговування вашої пральної машини. Наша команда має більше півтора року досвіду роботи у цій сфері і ми пишаємося тим, що наша робота допомагає людям вирішувати їхні проблеми із побутовою технікою. Ми спеціалізуємося на ремонті пральних машин усіх марок та моделей, від класичних до найсучасніших. Незалежно від того, яка проблема у вашої пральної машини, ми завжди знайдемо швидке та ефективне рішення. Наша команда техніків працює у всіх районах Києва та області, і ми швидко реагуємо на дзвінки та запити нашої клієнтури. Ми також надаємо послуги виїзного ремонту, що дозволяє нашим клієнтам уникнути зайвого клопоту та економити свій час. Наші техніки мають всі необхідні знання та досвід для того, щоб вирішити будь-яку проблему, яка може виникнути у вашої пральної машини. Ми також гарантуємо, що всі наші послуги виконуються з використанням лише високоякісних запчастин та матеріалів. Зв'яжіться з нами, щоб отримати кваліфіковану допомогу в ремонті пральної машини. Ми гарантуємо швидкий і надійний сервіс, який допоможе вам повернутися до нормального життя без зайвого клопоту."
        })
    include ./html/modules/base/callback.pug
block footer