extends ./html/modules/base/default-page.pug
include ./html/utils/mixin
block vars
    - title = 'Ремонт посудомийних машин';
    -h1 = 'Ремонт посудомийних машин';
block main
    +textContentinBorder({
        text: `Наш сервіс ProfService пропонує якісний ремонт посудомийних машин у всіх районах Києва та області. Ми розуміємо, що поломка посудомийної машини може стати справжньою проблемою, тому наші досвідчені майстри готові швидко та ефективно відновити працездатність вашої техніки.`,
        text2: 'Досвід – наша головна перевага. Майстри нашого сервісу мають великий досвід роботи у сфері ремонту посудомийних машин. Вони володіють сучасними технологіями та методами ремонту, що дозволяє нам оперативно знаходити та усувати несправності.',
        text3: 'Ми гарантуємо якість нашої роботи та надаємо гарантію на ремонт посудомийних машин протягом року. Вам не потрібно турбуватися про можливі поломки після ремонту - ми впевнені в надійності нашої роботи та готові відповідати за якість послуг.',
        text4: 'Одна з наших головних переваг – конкурентні ціни. Ми розуміємо, що ремонт техніки може бути дорогим, тому ми намагаємося запропонувати нашим клієнтам оптимальні ціни, які є нижчими, ніж у конкурентів. Ми цінуємо довіру наших клієнтів та прагнемо надати їм високу якість сервісу за доступною ціною.',
        text5: "Якщо у вас виникла несправність із посудомийною машиною, не відкладайте ремонт у довгий ящик. Зверніться до сервісу ProfDervice, і наші досвідчені майстри швидко та якісно виправлять поломку. Ми гарантуємо професійний підхід, надійність та доступні ціни.",
        text6: "Зробіть правильний вибір - виберіть ProfService для ремонту посудомийних машин у Києві та області!"
    })
    section.section.faq
        .container
            h2.h2 Поширені запитання
        .container.faq-list-wrap
            ul.faq-list
                +faq-item({
                    question: 'Чому моя посудомийна машина не вмикається?',
                    answer: 'Можливо, проблема з електроживленням чи несправність в електронній платі.'
                })
                +faq-item({
                    question: 'Чому вода не зливається з посудомийної машини?',
                    answer: 'Причиною може бути засмічення системи зливу або несправність зливного насоса.'
                })
                +faq-item({
                    question: "Чому посуд після циклу миття залишається брудним?",
                    answer: ' Возможно, причина в плохой работе фильтров или неисправности форсунок распыления воды.'
                })
                +faq-item({
                    question: 'Чому посудомийна машина видає шум під час роботи?',
                    answer: 'Шуми можуть бути викликані несправністю двигуна, проблемою з підшипниками або незбалансованістю машини.'
                })
            ul.faq-list
                +faq-item({
                    question: 'Що робити, якщо посудомийна машина протікає?',
                    answer: 'Перевірте рівень води та стан ущільнювальних гумок. Якщо протікання продовжується, можливо, потрібна заміна ущільнень або ремонт клапана.'
                })
                +faq-item({
                    question: 'Чому програма миття не запускається?',
                    answer: 'Причиною може бути несправність кнопки керування чи електронної плати..'
                })
                +faq-item({
                    question: 'Як видалити неприємний запах із посудомийної машини?',
                    answer: 'Рекомендується провести цикл миття з додаванням оцту або спеціальних очисників для посудомийних машин.'
                })
                +faq-item({
                    question: 'Чому на посуді після миття залишаються плями та розлучення?',
                    answer: "Проблема може бути пов'язана з неправильним використанням миючого засобу або неправильним завантаженням посуду."
                })
    include ./html/modules/base/callback.pug
block footer
block scripts
    script(src='./scripts/module/border.js')