extends ./html/modules/base/default-page.pug
include ./html/utils/mixin
block vars
    - title = 'Ремонт сушильних машин';
    -h1 = 'Ремонт сушильних машин';
block main
    +textContentinBorder({
        text: `Майстри ProfService – професіонали своєї справи з багатим досвідом роботи в галузі ремонту сушильних машин. Ми ретельно відбираємо наших спеціалістів, щоб у вас був досвід ремонту найвищої якості.`,
        text2: 'Ми впевнені як наша робота, тому надаємо гарантію на рік на всі виконані ремонтні роботи. Це демонструє нашу довіру до якості та надійності нашого ремонту.',
        text3: 'Перевага роботи з нами полягає також у нашій конкурентоспроможній ціновій політиці. Ми прагнемо запропонувати вам найкращі умови та ціни, щоб бути доступними для кожного клієнта. При зверненні до ProfDervice ви можете бути впевнені, що отримаєте якісний ремонт за вигіднішою ціною, ніж у наших конкурентів.',
        text4: 'Вибираючи нас, ви отримуєте назву, в яку можна довіряти – ProfDervice. Ми робимо все можливе, щоб задовольнити потреби наших клієнтів та забезпечити високий рівень обслуговування.',
        text5: "Не откладывайте ремонт своей сушильной машины на потом. Обратитесь к нам прямо сейчас и наши опытные мастера с радостью помогут вам восстановить работоспособность вашей техники."
    })
    section.section.faq
        .container
            h2.h2 Поширені запитання
        .container.faq-list-wrap
            ul.faq-list
                +faq-item({
                    question: 'Моя сушильна машина перестала вмикатися. Що робити?',
                    answer: 'Перевірте підключення до електроживлення та переконайтеся, що кнопка живлення натиснута. Якщо проблема не в цьому, зверніться до професійного майстра.'
                })
                +faq-item({
                    question: 'Чому моя сушильна машина не гріється?',
                    answer: 'Причин може бути кілька, включаючи несправність нагрівального елемента термостата. Рекомендується викликати спеціаліста для діагностики та ремонту.'
                })
                +faq-item({
                    question: "Чому в сушильній машині з'являється шум під час роботи?",
                    answer: 'Шум може бути викликаний несправністю вентилятора, підшипників чи ременів. Зверніться до професійного майстра для визначення та усунення причин.'
                })
                +faq-item({
                    question: 'Як мені очистити фільтр у сушильній машині?',
                    answer: 'Фільтр зазвичай знаходиться всередині дверцят сушильної машини. Дотримуйтесь інструкцій виробника для його зняття і очищення від пилу і волосся, що накопичилося. Запитання: Що робити, якщо сушильна машина не висушує білизну повністю?'
                })
            ul.faq-list
                +faq-item({
                    question: 'Що робити, якщо сушильна машина не висушує білизну?',
                    answer: 'Перевірте, чи не перевантажена машина, і переконайтеся, що вибрано правильний режим сушіння. Також може знадобитися перевірка нагрівального елемента або датчика вологості.'
                })
                +faq-item({
                    question: 'Моя сушильна машина видає неприємний запах. Як його усунути?',
                    answer: 'Очистіть фільтр і перевірте, чи немає засорів у вентиляційній системі. Також рекомендується провести професійне чищення та дезінфекцію сушильної машини.'
                })
                +faq-item({
                    question: 'Що робити, якщо сушильна машина не обертається?',
                    answer: 'Перевірте ремінь приводу та його натяг. Якщо ремінь слабкий або порваний, він має бути замінений професіоналом.'
                })
                +faq-item({
                    question: 'Як довго триває ремонт сушильної машини?',
                    answer: 'Час ремонту може змінюватись в залежності від складності поломки. У деяких випадках ремонт може бути виконаний протягом декількох годин, а в інших випадках може знадобитися кілька днів для замовлення та заміни запчастин.'
                })
    include ./html/modules/base/callback.pug
block footer
block scripts
    script(src='./scripts/module/border.js')